<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Berserk_anime_logo.png" alt="Logo berserk">
        </div>

        <h1>Personajes del mundo de berserk </h1>
    </header>

    <div class="container">
        <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
            <div class="col p-3" *ngFor="let Personaje of personajes">
                <div class="card">
                    <img src="{{Personaje.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{Personaje.nombre}}</h5>
                      <p class="card-text">{{Personaje.descripcion}}</p>
                    </div>
                </div> 
            </div> 
        </div> 
    </div>

    <footer class="footer">
        <div class="linea-footer">
            <!-- Aquí colocaremos un elemento vacío para mostrar la línea -->
        </div>
    </footer>
    
    
</body>
</html>